#QCA,uboot
*.d
*.dump
*.img
*.map
*.o
control
!control/
*.o.cmd
*.mod
*.ko

#CC1310
*.obj
*.opt
*.xml



# Source Insight 4.0
*.sisc
*.bookmarks.xml
*.SearchResults
*.siproj
*.siproj_settings.xml
*.sip_sym
*.sip_xab
*.sip_xad
*.sip_xc
*.sip_xf
*.sip_xm
*.sip_xr
*.sip_xsb
*.sip_xsd
*.siwork


# Linux
.version
vmlinux
vmlinuz
System.map
.tmp_System.map
.tmp_vmlinux1
.tmp_vmlinux2
Module.symvers
modules.builtin
modules.order
*.mod.c
autoconf.h
auto.conf
tristate.conf

# Openwrt
.DS_Store
.*.swp
/env
/dl
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/package/feeds
/package/openwrt-packages
key-build*
*.patch
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src